*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-titles: #000000;
  --color-text: #333333;
  --color-primary: #ff5722;
  --color-secondary: #ffa589;
  --color-white: #ffffff;
  --badge-primary: #fe4e00;
  --badge-secondary: #fff6f2;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f8f8f8;
  color: var(--color-text);
}

h1,
h2,
h3 {
  color: var(--color-titles);
  font-weight: 700;
}

h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 2rem;
}

@media all and (min-width: 1024px) {
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.8rem;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Components */

/* Button */
.btn {
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 1rem 1.8rem;
  border-radius: 0.8rem;
  font-size: 1.4rem;
}
.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
}
.btn--block {
  width: 100%;
}

/* Badge */
.badge {
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 3.2rem;
  text-transform: uppercase;
  padding: 0.3rem 1.2rem;
}
.badge--primary {
  background-color: var(--badge-primary);
  color: var(--badge-secondary);
}
.badge--secondary {
  background-color: var(--badge-secondary);
  color: var(--badge-primary);
  border: 2px solid var(--badge-primary);
}

@media all and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}

/* Nav-Header */

.nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1.5rem;
}

.nav__items {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-out;
}
.nav__header.nav__expanded .nav__items {
  max-height: 100vh;
  opacity: 1;
}
.nav__item {
  margin: 1.2rem;
  text-decoration: none;
  list-style: none;
  border-bottom: 1px solid #ccc;
}
.nav__item > a {
  text-decoration: none;
  color: #545454;
  cursor: pointer;
}
.nav__item:last-child {
  border: none;
}
.nav__item.btn {
  color: var(--color-white);
}

.nav__items .nav__item a:hover {
  color: var(--color-primary);
  transition: all 0.2s ease-out;
}

.nav__toggle {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bar {
  background-color: var(--color-text);
  height: 3px;
  width: 25px;
}

.nav__header.nav__expanded .bar-one {
  transform: rotate(45deg) translate(5px);
}
.nav__header.nav__expanded .bar-two {
  display: none;
}
.nav__header.nav__expanded .bar-three {
  transform: rotate(-45deg) translate(5px);
}

.phone-banner {
  display: none;
}

/* Desktop */
@media all and (min-width: 1024px) {
  .nav__items {
    flex-direction: row;
    align-items: center;
    font-size: 1.4rem;
    background-color: transparent;
    width: auto;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border-bottom: none;
  }
  .nav__toggle {
    display: none;
  }
}

/* Tapsi-Box */

.img__container > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 3 / 4;
}

.tapsi-box {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin: 0 1rem;
  padding: 1.5rem;
  border-radius: 3.2rem;
  color: var(--color-white);
  background: linear-gradient(
    68.18deg,
    rgba(23, 26, 60, 0.7) 4.77%,
    rgba(23, 26, 60, 0.3) 98.84%
  );
  position: relative;
  bottom: 38rem;
}
.tapsi-box h2 {
  color: var(--color-white);
  font-size: 2.5rem;
  padding: 0.5rem 0;
}
.tapsi-box .tapsi-box__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.tapsi-box .tapsi-box__links .tapsi-box__link {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  margin-top: 1.2rem;
  padding: 1rem;
  border-radius: 1.2rem;
  cursor: pointer;
}

.tapsi-box__link.primary {
  background-color: var(--color-white);
  color: var(--color-text);
}

.tapsi-box__link.secondary {
  background-color: transparent;
  color: var(--color-white);
  border: 2px solid var(--color-white);
}

/* Desktop */
@media all and (min-width: 1024px) {
  .img__container > img {
    width: 1520px;
    margin: auto -19rem;
    aspect-ratio: 9 / 3;
  }
  .tapsi-box {
    font-size: 2rem;
    width: 675px;
    position: relative;
    left: 15rem;
    padding-right: 2rem;
  }
  .tapsi-box h2 {
    font-size: 3.5rem;
  }
  .tapsi-box .tapsi-box__links {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .tapsi-box .tapsi-box__links .tapsi-box__link {
    font-size: 1.6rem;
    width: 300px;
    max-width: 300px;
  }
  .phone-banner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 15rem;
  }
}
