*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-titles: #000000;
  --color-text: #333333;
  --color-primary: #ff5722;
  --color-secondary: #ffa589;
  --color-white: #ffffff;
  --badge-primary: #fe4e00;
  --badge-secondary: #fff6f2;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: var(--color-text);
  line-height: 2.8rem;
}

h1,
h2,
h3 {
  color: var(--color-titles);
  font-weight: 700;
}

h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 2rem;
}
input,
textarea {
  outline: 0;
  transition: all 0.1s ease-out;
}

@media all and (min-width: 728px) {
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.8rem;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 1.5rem;
}

/* Components */

/* Button */
.btn {
  outline: 0;
  cursor: pointer;
  border: none;
  margin: 0.5rem 0;
  padding: 1rem 1.8rem;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  transition: all 0.2s ease-out;
}
.btn:hover {
  transform: scale(1.1);
}
.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
}
.btn--block {
  width: 100%;
}

/* Badge */
.badge {
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 3.2rem;
  text-transform: uppercase;
  padding: 0.3rem 1.2rem;
}
.badge--primary {
  background-color: var(--badge-primary);
  color: var(--badge-secondary);
}
.badge--secondary {
  background-color: var(--badge-secondary);
  color: var(--badge-primary);
  border: 2px solid var(--badge-primary);
}

@media all and (min-width: 728px) {
  .badge {
    font-size: 1.4rem;
  }
}

/* Nav-Header */

.nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1.5rem;
}

.nav__items {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-out;
}
.nav__header.nav__expanded .nav__items {
  max-height: 100vh;
  opacity: 1;
}
.nav__item {
  margin: 1.2rem;
  text-decoration: none;
  list-style: none;
  border-bottom: 1px solid #ccc;
}
.nav__item > a {
  text-decoration: none;
  color: #545454;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.nav__items .nav__item a:hover {
  color: var(--color-primary);
}
.nav__items .nav__item:hover:not(:last-child) {
  transition: all 0.2s ease-out;
}
.nav__items .nav__item:hover:not(:last-child) {
  transform: scale(1.1);
}
.nav__item:last-child {
  border: none;
}
.nav__item.btn {
  color: var(--color-white);
}

.nav__toggle {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bar {
  background-color: var(--color-text);
  height: 3px;
  width: 25px;
}

.nav__header.nav__expanded .bar-one {
  transform: rotate(45deg) translate(5px);
}
.nav__header.nav__expanded .bar-two {
  display: none;
}
.nav__header.nav__expanded .bar-three {
  transform: rotate(-45deg) translate(5px);
}

.phone-banner {
  display: none;
}

/* Desktop */
@media all and (min-width: 728px) {
  .nav__items {
    flex-direction: row;
    align-items: center;
    font-size: 1.4rem;
    background-color: transparent;
    width: auto;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border-bottom: none;
  }
  .nav__toggle {
    display: none;
  }
  .nav__item > a {
    font-size: 1.4rem;
    transition: all 0.2s ease-out;
  }
}

/* Tapsi-Box */
.img__container > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 3 / 4;
}

.hero-wrapper {
  position: relative;
  top: 15rem;
  left: 1.5rem;
  margin-bottom: 3rem;
}

.hero-wrapper .tapsi-box {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin: 0 1rem;
  padding: 1.5rem;
  border-radius: 3.2rem;
  color: var(--color-white);
  background: linear-gradient(
    68.18deg,
    rgba(23, 26, 60, 0.7) 4.77%,
    rgba(23, 26, 60, 0.3) 98.84%
  );
  position: absolute;
  bottom: 16.5rem;
  right: 5rem;
}
.hero-wrapper .tapsi-box h2 {
  color: var(--color-white);
  font-size: 2.5rem;
  padding: 0.5rem 0;
}
.tapsi-box .tapsi-box__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.tapsi-box .tapsi-box__links .tapsi-box__link {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  margin-top: 1.2rem;
  padding: 1rem;
  border-radius: 1.2rem;
  cursor: pointer;
}

.tapsi-box__link.primary {
  background-color: var(--color-white);
  color: var(--color-text);
}

.tapsi-box__link.secondary {
  background-color: transparent;
  color: var(--color-white);
  border: 2px solid var(--color-white);
}

/* Desktop */
@media all and (min-width: 728px) {
  .img__container > img {
    width: 1520px;
    margin: auto -20.5rem;
    aspect-ratio: 9 / 3;
  }
  .hero-wrapper {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 20rem;
  }
  .hero-wrapper .tapsi-box {
    font-size: 2rem;
    width: 675px;
    right: -8rem;
    bottom: 10rem;
    padding-right: 2rem;
  }
  .hero-wrapper .tapsi-box h2 {
    font-size: 3.5rem;
  }
  .tapsi-box .tapsi-box__links {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .tapsi-box .tapsi-box__links a:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-out;
  }
  .tapsi-box .tapsi-box__links .tapsi-box__link {
    font-size: 1.6rem;
    width: 300px;
    max-width: 300px;
  }
  .phone-banner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 15rem;
  }
}

/* Services */
.tapsi-services .tapsi-services__title {
  margin-bottom: 3rem;
}
.tapsi-services__img > img {
  width: 100%;
}

.services-details__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}
.services-details h3 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.services-details p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: var(--color-text);
}
.services-details__img img {
  width: 100%;
}
.services__img {
  display: flex;
  justify-content: center;
}
.services__img img {
  width: 70%;
  margin-right: 6rem;
  margin-bottom: 2rem;
}

.services-details__container.change-order .services__img {
  order: 0;
  margin-left: 6rem;
  width: 90%;
}

@media all and (min-width: 728px) {
  .services-details__container {
    flex-direction: row;
    align-items: center;
    gap: 7rem;
  }
  .services-details h3 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }
  .services-details p {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .services-details__img img {
    width: auto;
  }

  .services__img img {
    width: auto;
  }
  .services-details__container .services__img {
    order: 1;
  }
  .services-details__container.change-order .services__img {
    order: 0;
  }
}

/* Plan */
.plan__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 9rem;
  margin: 3rem;
}
.plan {
  color: var(--color-white);
  border-radius: 4rem;
}
.plan--primary {
  transform: scale(1.1);
}
.plan__header {
  padding: 1.8rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.plan__header--primary {
  background-color: #ff7a50;
}
.plan__header--secondary {
  background-color: var(--color-secondary);
}
.plan__header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.plan__header-center {
  margin-bottom: 1rem;
}
.plan__price {
  font-size: 1.6rem;
}
.plan__text-price {
  font-size: 1.2rem;
}
.plan__header-bottom {
  font-size: 1.6rem;
}

.plan__body {
  background-color: var(--badge-secondary);
  color: var(--color-text);
  padding: 2rem;
  font-size: 1.8rem;
  line-height: 4rem;
}
.plan__body > .btn {
  margin-bottom: 2rem;
}
.plan__items {
  list-style: none;
  margin-bottom: 10rem;
}
.plan__item {
  background-image: url(../assets/images/check.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 4rem;
  font-size: 1.6rem;
}
@media all and (min-width: 728px) {
  .plan__title {
    margin-bottom: 9rem;
  }
  .plan__wrapper {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
  .plan__header-top {
    font-size: 1.8rem;
  }
  .plan__price {
    font-size: 1.8rem;
  }
  .plan__text-price {
    font-size: 1.4rem;
  }
  .plan__header-bottom {
    font-size: 1.8rem;
  }
  .plan__item {
    font-size: 1.8rem;
  }
}

.contact-us__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.contact-us__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* margin-top: 10rem; */
}
.contact-us__header > h3 {
  font-size: 1.8rem;
  color: var(--color-text);
  margin-top: 1.5rem;
}
.contact-us__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 3rem;
}
.social__icon {
  transition: all 0.3s ease-out;
}
.social__icon:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.map {
  display: none;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}

.address__wrapper {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.form__wrapper {
  border: 1px solid #dddddd;
  border-radius: 2rem;
  padding: 3rem;
  margin-top: 1.5rem;
}
.form__title {
  margin-bottom: 3rem;
  text-align: center;
}
.contact-Us__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.contact-Us__form > input {
  padding: 1.5rem;
  border: 1px solid #e8e8e8;
  border-radius: 3.9rem;
  width: 100%;
}
.contact-Us__form > textarea {
  resize: none;
  padding: 1rem;
  border: 1px solid #e8e8e8;
  width: 100%;
}
input:focus,
textarea:focus {
  border: 1.8px solid var(--color-primary);
}

@media all and (min-width: 728px) {
  .map {
    display: block;
  }
  .contact-us__container {
    grid-template-areas:
      "address form"
      "map form"
      "social form";

    grid-template-columns: 65fr 35fr;
  }

  .address {
    grid-area: address;
  }
  .map {
    grid-area: map;
  }
  .social {
    grid-area: social;
    margin-right: 40rem;
  }
  .form__wrapper {
    grid-area: form;
  }

  .address {
    flex-direction: row;
    gap: 2rem;
  }
  .address__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  .address .location {
    order: 3;
  }
  .address .phonenumber {
    order: 2;
  }
  .address .gmail {
    order: 1;
  }
}
.special-gifts__section {
  display: none;
}

@media all and (min-width: 768px) {
  .special-gifts__section {
    display: block;
    border: 2px solid #d8d8d8;
    border-radius: 1rem;
    padding: 5rem;
  }
  .special-gifts__section > h2 {
    margin-bottom: 4rem;
  }
  .special-gifts__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 4rem;
  }
  .special-gifts__box {
    background-color: #ffffff;
    position: relative;
    bottom: 20%;
    right: 15%;
    border-radius: 3.2rem;
    height: 134px;
    width: 75%;
    box-shadow: 0 80px 100px 0 #00000029;
  }
  .box__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
  }
  .special-gifts__box .box__details {
    font-weight: 800;
    padding-right: 2rem;
    position: relative;
    bottom: 1rem;
  }
  .box__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
  }
  .box__footer span {
    color: #cacaca;
  }
  .box__footer span:last-child {
    display: flex;
    gap: 1rem;
  }
}

/* Footer */
.main-footer {
  background-color: black;
  color: var(--color-white);
  min-height: 200px;
}
.main-footer .footer {
  display: flex;
  flex-direction: column;
}
.main-footer .footer__item {
  margin-bottom: 2.5rem;
}
.main-footer .footer__item a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  display: block;
  transition: all 0.2s ease-out;
}
.main-footer .footer__item a:hover {
  color: var(--color-primary);
  transform: scale(1.1);
}
.main-footer .footer__item h3,
p,
a {
  color: var(--color-white);
  font-size: 1.2rem;
}
.main-footer .footer__item h6 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer__item.enamad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.enamad__img img {
  background-color: #fff;
  border-radius: 1rem;
  max-width: 80px;
  height: 80px;
  margin-left: 0.5rem;
}

.main-footer .footer__item.social__container .icons__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}
.main-footer .footer__item.social__container .icons__container svg {
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.main-footer .footer__item.social__container .icons__container svg:hover {
  transform: scale(1.3);
}
.main-footer .footer__item h6 {
  display: none;
}

.copyright__text-mobile p {
  color: #acacac;
  font-size: 1.4rem;
}
.copyright__text-desktop p {
  display: none;
}

.developer-fullname h4 {
  text-align: center;
  padding: 1rem 2rem;
}

@media all and (min-width: 768px) {
  .main-footer .footer {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer__item {
    margin-bottom: 0;
    margin-left: 2rem;
  }

  .main-footer .footer__item h6 {
    display: block;
  }

  .copyright__text-desktop p {
    display: block;
    color: #acacac;
    font-size: 1.2rem;
  }
  .copyright__text-mobile p {
    display: none;
  }
  .enamad__img img {
    max-width: 75px;
  }
  .main-footer .footer__item.social__container .icons__container {
    gap: 1rem;
    margin-top: 0;
  }
  .main-footer .footer__item.social__container h6 {
    font-size: 1.4rem;
  }

  .developer-fullname h4 {
    text-align: end;
    padding: 0.5rem 1.5rem;
  }
}
