<div class="contact-us__header">
  <h2 class="header__title">ارتباط با ما</h2>
  <h3>
    شما می توانید، نظرات و انتقادات
    <div>خود را برای ما بفرستید</div>
  </h3>
</div>
<div class="contact-us__container">
  <div class="contact-us__wrapper">
    <div class="social">
      <i
        class="social__icon fa-brands fa-linkedin fa-2xl"
        style="color: #ff0000"
      ></i>
      <i
        class="social__icon fa-brands fa-facebook fa-2xl"
        style="color: #ff0000"
      ></i>
      <i
        class="social__icon fa-brands fa-twitter fa-2xl"
        style="color: #ff0000"
      ></i>
    </div>
  </div>
  <div class="map">
    <img src="assets/images/map.png" alt="" />
  </div>
  <div class="address">
    <div class="address__wrapper location">
      <i class="fa-solid fa-location-dot fa-2xl" style="color: #ff0000"></i>
      <span class="location__text">خرمشهر - میدان معلم - ساحلی</span>
    </div>
    <div class="address__wrapper phonenumber">
      <i class="fa-solid fa-mobile-screen fa-2xl" style="color: #ff0000"></i>
      <span class="phonenumber__text">9123456789 98+</span>
    </div>
    <div class="address__wrapper gmail">
      <i class="fa-regular fa-envelope fa-2xl" style="color: #ff0000"></i>
      <span class="gmail__text">heydar@gmail.com</span>
    </div>
  </div>

  <div class="form__wrapper">
    <h3 class="form__title">ارتباط با ما</h3>
    <form class="contact-Us__form">
      <input type="text" placeholder="نام و نام خانوادگی" />
      <input type="text" placeholder="ایمیل شما" />
      <textarea rows="5" placeholder="پیام شما"></textarea>
      <button class="btn btn--primary btn--block">ارسال</button>
    </form>
  </div>
</div>
