<h2 class="plan__title">پلن های رزرو تاکسی</h2>
<div class="plan__wrapper">
  <div class="plan plan--secondary">
    <div class="plan__header plan__header--secondary">
      <div class="plan__header-top">
        <span> عادی </span><span class="badge badge--primary">%10 off</span>
      </div>
      <div class="plan__header-center">
        <span class="plan__price">290.000</span>
        <span class="plan__text-price">ماهانه / تومان</span>
      </div>
      <span class="plan__header-bottom">سرویس ماشین های معمولی</span>
    </div>
    <div class="plan__body">
      <ul class="plan__items">
        <li class="plan__item">کیفیت معمولی</li>
        <li class="plan__item">کیفیت معمولی</li>
        <li class="plan__item">کیفیت معمولی</li>
        <li class="plan__item">کیفیت معمولی</li>
      </ul>
      <button class="btn btn--secondary btn--block">ثبت سفارش</button>
    </div>
  </div>
  <div class="plan plan--primary">
    <div class="plan__header plan__header--primary">
      <div class="plan__header-top">
        <span> اقتصادی </span><span class="badge badge--primary">%15 off</span>
      </div>
      <div class="plan__header-center">
        <span class="plan__price">390.000</span>
        <span class="plan__text-price">ماهانه / تومان</span>
      </div>
      <span class="plan__header-bottom">سرویس ماشین های کلاسیک</span>
    </div>
    <div class="plan__body">
      <ul class="plan__items">
        <li class="plan__item">کیفیت عالی</li>
        <li class="plan__item">کم سرو صدا</li>
        <li class="plan__item">زمان محدود</li>
        <li class="plan__item">سرویس روزانه</li>
      </ul>

      <button class="btn btn--primary btn--block">ثبت سفارش</button>
    </div>
  </div>
  <div class="plan plan--secondary">
    <div class="plan__header plan__header--secondary">
      <div class="plan__header-top">
        <span> ویژه </span><span class="badge badge--primary">%20 off</span>
      </div>
      <div class="plan__header-center">
        <span class="plan__price">490.000</span>
        <span class="plan__text-price">ماهانه / تومان</span>
      </div>
      <span class="plan__header-bottom">سرویس ماشین های مدل بالا</span>
    </div>
    <div class="plan__body">
      <ul class="plan__items">
        <li class="plan__item">کیفیت خیلی خفن</li>
        <li class="plan__item">بی سرو صدا</li>
        <li class="plan__item">زمان نامحدود</li>
        <li class="plan__item">سرویس نامحدود</li>
      </ul>

      <button class="btn btn--secondary btn--block">ثبت سفارش</button>
    </div>
  </div>
</div>
