<section class="special-gifts__section">
  <h2 class="special-gifts__title">جوایز ویژه</h2>
  <div class="special-gifts__wrapper">
    <div class="special-gifts__img">
      <img src="assets/images/special-gifts-img.png" alt="" />
      <div class="special-gifts__box">
        <div class="box__header">
          <span class="badge badge--primary">ویژه</span>
          <span class="special-gifys__features">
            اقامت رایگان &dot; سفر 3 روزه
          </span>
        </div>
        <span class="box__details">سفر به قلب کویر لوت</span>
        <div class="box__footer">
          <span>
            <i class="fa-solid fa-heart" style="color: #cacaca"></i>
            12
            <i class="fa-solid fa-eye" style="color: #cacaca"></i>
            46
          </span>
          <span>
            <i class="fa-solid fa-pen-to-square" style="color: #cacaca"></i>
            <i class="fa-solid fa-trash-can" style="color: #cacaca"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="special-gifts__img">
      <img src="assets/images/special-gifts-img.png" alt="" />
      <div class="special-gifts__box">
        <div class="box__header">
          <span class="badge badge--primary">ویژه</span>
          <span class="special-gifys__features">
            اقامت رایگان &dot; سفر 3 روزه
          </span>
        </div>
        <span class="box__details">سفر به قلب کویر لوت</span>
        <div class="box__footer">
          <span>
            <i class="fa-solid fa-heart" style="color: #cacaca"></i>
            12
            <i class="fa-solid fa-eye" style="color: #cacaca"></i>
            46
          </span>
          <span>
            <i class="fa-solid fa-pen-to-square" style="color: #cacaca"></i>
            <i class="fa-solid fa-trash-can" style="color: #cacaca"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="special-gifts__img">
      <img src="assets/images/special-gifts-img.png" alt="" />
      <div class="special-gifts__box">
        <div class="box__header">
          <span class="badge badge--primary">ویژه</span>
          <span class="special-gifys__features">
            اقامت رایگان &dot; سفر 3 روزه
          </span>
        </div>
        <span class="box__details">سفر به قلب کویر لوت</span>
        <div class="box__footer">
          <span>
            <i class="fa-solid fa-heart" style="color: #cacaca"></i>
            12
            <i class="fa-solid fa-eye" style="color: #cacaca"></i>
            46
          </span>
          <span>
            <i class="fa-solid fa-pen-to-square" style="color: #cacaca"></i>
            <i class="fa-solid fa-trash-can" style="color: #cacaca"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
